:root {
  --bg: #1e6d6f;
  --bg: white;
  --bg: black;
}

body {
  justify-content: left;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  place-items: center;
}
img {
  width: 100%;
}
.productsTileWrapper {
  width: 70%;
  margin: 10% 0% 0px 15%;
}
.product-template {
  padding: 0;
  margin-bottom: 30vh;
}

.productName {
  height: 20%;
  text-align: center;
  color: rgb(215, 215, 215);
  font-size: 2em;
  margin-bottom: 25px;
}
.toTop {
  position: fixed;
  left: 30px;
  bottom: 30px;
  background-color: transparent;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
  z-index: 1;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
.toTop:hover {
  background-color: white;
  bottom: 40px;
  left: 27.5px;
  padding: 15px;
}

.secondToTop {
  position: fixed;
  left: 30px;
  bottom: 35px;
  border: solid black;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
  
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.toTop:hover ~ .secondToTop {
  background-color: white;
  bottom: 45px;
  left: 27.5px;
  padding: 15px;
}

.productDescriptionAndPriceAndButton {
  width: auto;
}
.productDescription {
  width: 100%;
  text-align: justify;
  margin-right: 10%;
  margin-top: 25px;
  color: rgb(215, 215, 215);
  font-size: 80%;
}
.productPriceAndButton {
  width: 70%;
  margin-top: 50px;
  margin-left: 15%;
  display: flex;
  /* background-color: red; */
}
.reactRouterLinks {
  margin-left: 0%;
  text-decoration: none;
}
.productPrice {
  /* color: rgb(91, 175, 161); */
  color: rgb(170, 170, 170);
  text-align: center;
  margin: auto;
width: 50%;
}
.cartHandleButton {
  width: 50%;
}
.removeFromCart {
  background-color: #1e516f;
  color: rgb(170, 170, 170);
}
.addToCart {
  background-color: #4eaae0;
  border: 1px solid transparent;
  color: white;
}
.addToCart:hover {
  background-color: rgba(78, 170, 224, 0.846);
  border: 1px solid white;
}
