/* .backToHome{
  background-color: red;
  position: fixed;
  top: 23px;
  left: 20px;
  text-decoration: none;
  padding: 8px 14px 8px 11px;
  border: 1px solid transparent;
  border-radius: 1px 15px 15px 1px;
  color: white;
} */
.loadingAnimationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: black;
}


.loadingTileWrapper {
  width: 300px;
  height: 300px;
  margin: 1px;
  padding: 80px;
  transition: 1s;
  overflow: hidden;
  position: relative;
  border-radius: 30%;
  box-shadow: 0px 0px 10px 1px white;
}

.line {
  width: 300px;
  height: 100px;
  display: flex;
}

.tiles {
  width: 100%;
  background-color: rgba(49, 83, 98, 0.477);
  border: 1px solid rgba(255, 255, 255, 0.237);
  border-radius: 15%;
  margin: 5px;
}

.first {
  animation-name: cornerAnimation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 30% 15% 15% 15%;
}

.second {
  animation-name: cornerAnimation;
  animation-duration: 20s;
  animation-delay: 21.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.third {
  animation-name: cornerAnimation;
  animation-duration: 23.5s;
  animation-delay: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 15% 30% 15% 15%;
}
.fourth {
  animation-name: cornerAnimation;
  animation-duration: 45s;
  animation-delay: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.fifth {
  animation-name: center;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sixth {
  animation-name: cornerAnimation;
  animation-duration: 20s;
  animation-delay: 26s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.seventh {
  animation-name: cornerAnimation;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 15% 15% 15% 30%;
}
.eighth {
  animation-name: cornerAnimation;
  animation-duration: 25s;
  animation-delay: 47s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.nineth {
  animation-name: cornerAnimation;
  animation-duration: 20s;
  animation-delay: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 15% 15% 30% 15%;
}

.percentageNumber {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.loaderWrapper {
  width: 465px;
  height: 465px;
  margin: 2px;
  padding: 20px;
  transition: 1s;
  overflow: hidden;
  position: fixed;
  border-radius: 50%;
}
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: "<angle>";
}

@property --h {
  initial-value: 0;
  inherits: false;
  syntax: "<number>";
}

.loader {
  width: 100%;
  height: 100%;
  margin: -1px 0px 0px -1px;
  border-radius: 30%;
  border-style: solid;
  --charge: hsl(var(--h, 0), 80%, 50%);
  -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
  border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
  -webkit-animation: load 13s infinite ease-in-out;
  animation: load 30s ease-in-out;
}

@-webkit-keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}

@keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}

.backgroundLight {
  position: fixed;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 50px rgba(186, 186, 186, 0.787);
  transform: rotate(0deg) translateX(20%) rotate(0deg);
  animation-name: circleLamp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.L1 {
  animation-duration: 7s;
}
.L2 {
  animation-duration: 9s;
}
.L3 {
  animation-duration: 13s;
}
.L4 {
  animation-duration: 17s;
}
.L5 {
  animation-duration: 22s;
}
@keyframes circleLamp {
  0% {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
    border-radius: 15%;
  }
  25% {
    transform: rotate(90deg) translateX(60px) rotate(-90deg);
    border-radius: 15%;
  }
  50% {
    transform: rotate(180deg) translateX(60px) rotate(-180deg);
    border-radius: 15%;
  }
  75% {
    transform: rotate(270deg) translateX(60px) rotate(-270deg);
    border-radius: 15%;
  }
  100% {
    transform: rotate(360deg) translateX(60px) rotate(-360deg);
    border-radius: 15%;
  }
}

@keyframes center {
  0% {
    margin: 5px;
  }
  70% {
    margin: 5px;
  }
  80% {
    margin: 10px;
  }
  90% {
    margin: 10px;
  }
  100% {
    margin: 5px;
  }
}
@keyframes cornerAnimation {
  0% {
    width: 90%;
    height: 90%;
  }
  20% {
    width: 80%;
    height: 80%;
  }
  30% {
    width: 80%;
    height: 80%;
  }
  40% {
    width: 90%;
    height: 90%;
  }
  70% {
    width: 90%;
    height: 90%;
  }
  90% {
    width: 70%;
    height: 70%;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}
