.auth {
  position: fixed;
  width: 20vw;
  bottom: 2vh;
}
.authButton {
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.authButton:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
