.auth {
  position: fixed;
  width: 20vw;
  bottom: 2vh;
}
.authButton {
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.authButton:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.profileWrapper {
  width: 20vw;
  display: flex;
}
.profilePhoto {
  width: 50px;
  height: 50px;
  margin: 10%;
  border: 1px dotted rgb(215, 215, 215);
  border-radius: 100%;
}
.profileName {
  margin: 5%;
  margin: auto;
  text-align: left;
  width: calc(16vw - 50px);
}
@media screen and (max-width: 800px) {
  .auth {
    width: 100vw;
  }
}
