.welcomeWrapper {
  height: 80vh;
  padding-top: 20vh;
  position: relative;
  overflow: hidden;
}
.welcomeTextWrapper {
  padding: 5% 10% 0% 10%;
  align-items: center;
  width: 80%;
  align-items: center;

}
.welcomeFlexbox {
  display: flex;
}

.welcome {
  text-align: center;
  width: 100%;
  font-size: 200%;
  color: rgb(121, 154, 184);
  text-transform: uppercase;
  line-height: 1.5em;
  transition: transform 0.5s;
}
.welcomeIntruduction {
  padding: 15% 15% 0% 15%;
  color: rgb(201, 229, 254);
  text-align: center;
  animation: delayedFadeInUp 1s forwards;
}


.welcomeTextWrapper > div {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
@keyframes delayedFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcomeFlexbox > div {
  animation-delay: 0.5s;
}


