.welcomeWrapper {
  height: 100vh;
  padding-top: 20vh;
  position: relative;
  overflow: hidden;
}

.curve {
  position: absolute;
  height: 700px;
  width: 120%;
  bottom: 0;
  text-align: center;

}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 80%;
  height: 100%;
  transform: translate(-33%, 71%);
  background-color: white;

}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 55%;
  height: 100%;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.welcome {
  padding: 5% 15% 0% 15%;
  text-align: justify;
  font-size: 200%;
  color: rgba(252, 191, 38, 0.8);

  /* color: rgba(198, 137, 252, 0.8); */
}
.welcomeIntruduction {
  padding: 15% 15% 0% 15%;
  color: rgb(201, 229, 254);
  text-align: justify;
}
