.home {
  width: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 80px;
}

.headerFlexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.productsTitle {
  cursor: pointer;
  color: #000;
  font-size: 2rem;
}
.cartButton {
  background-color: #635bff;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
