.menuWrapper {
  width: 5vw;
  height: 50vh;
  position: fixed;
  z-index: 2;
}
.closedMenu {
  color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 85vh;
  left: -50px;
  transform: rotateZ(270deg);
}
.rotatedMenu {
  position: relative;
  letter-spacing: 30px;
  text-align: right;
}
.openedMenu {
  background-color: rgb(91, 91, 91);
  width: 20vw;
  height: 100vh;
}
.menuPorudctNameWrapper {
  padding-top: 5vh;
}


.productTypeWrapper {
  width: 80%;
  margin-left: 10%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 15px 0px 5px 0px;
}
.productTypeWrapper:hover .productList {
  padding-top: 15px;
  padding-bottom: 15px;
  visibility: visible;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
}
.productTypeWrapper:hover .openProductsButton {
  border-width: 0 10px 10px 10px;
  margin: 5px 25px auto 25px;
  border-color: transparent transparent white transparent;
}
.responsiveProtector {
  display: flex;
}
.productType {
  color: white;
  text-transform: uppercase;
}

.openProductsButton {
  border-radius: 50px;
  margin: 5px 25px auto 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}
ul li {
  margin: 0px;
  list-style-type: none;
  padding: 7.5px 0px 7.5px 20px;
}
li:hover {
  color: white;
}
.productList {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
  margin-bottom: 2vh;
  visibility: hidden;
  height: 0px;
  transition: 0.4s ease-in-out;
  color: black;
}
.productList:hover {
  color: white;
}






/* Remove :hover styles from .productTypeWrapper */
.productTypeWrapper.open .productList,
.productTypeWrapper.open .openProductsButton {
  padding-top: 15px;
  padding-bottom: 15px;
  visibility: visible;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
}

.productTypeWrapper.open .openProductsButton {
  border-width: 0 10px 10px 10px;
  margin: 5px 25px auto 25px;
  border-color: transparent transparent white transparent;
}

.productTypeWrapper.open .productType {
  color: white;
}

.productTypeWrapper.open ul li:hover {
  color: white;
}

.productTypeWrapper.open .productList {
  color: black;
}

.productTypeWrapper.open .productList:hover {
  color: white;
}












@media screen and (max-width: 800px) {

  .closedMenu {
    top: 0px;
    bottom: 92vh;
    left: 0px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: calc(50% - 11px);
    transform: rotateZ(0deg);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border-right: 1px solid rgba(255, 255, 255, 0.466);
    align-items: center;
  }
  .openedMenu {
    width: 100vw;
    z-index: 5;
  }
}
