.menuWrapper {
    width: 5vw;
    height: 90vh;
  }
.closedMenu {
  width: 60px;
  /* background-color: green; */
  height: auto;
}
.productName{
    font-size: 1.2em;
}
.menuButton{
    width: 10px;
    background-color: red;
}