:root {
  --lightColor: rgba(133, 147, 152, 0.5);
  --darkColor: rgba(40, 48, 72, 0.5);
}
.sphereWrapper {
  position: fixed;
  display: flex;
  bottom: 1em;
  right: 1em;
  z-index: 2;
  padding-left: 15px;
}
.appearingText {
  color: white;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(10px);
padding: 15px;
border-radius: 10px;
}
.miniChatWrapper {
  margin: 0;
  align-items: center;
  border-radius: 15%;
  transition: ease-in-out;
  transition-duration: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.loadingWrapper {
  font-family: "Raleway";
  height: 4em;
  width: 4em;
  display: grid;
  place-items: center;
  background-color: black;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 15%;
}
.miniChatWrapper:hover{
  border-color: white;
}
.miniChatWrapper:hover .loadingWrapper{
  color: white;
}
.appearingText.hovered {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .miniChatWrapper {
    bottom: 0.5em;
    right: 0.5em;
    margin: auto;
  }
  .loadingWrapper {
    height: 3em;
    width: 3em;
    padding: 0px;
  }
}
