.chatWrapper {
  position: fixed;
  height: 40vh;
  width: 25vw;
  bottom: 0px;
  right: 0;
  min-width: 300px;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  z-index: 1;
}
header {
  /* background-color: #007bff; */
  background-color: rgb(68, 129, 195);
  display: flex;
  height: 2.5vh;
  min-height: 30px;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
.headerText {
  width: 100%;
  color: white;
  padding-left: 3%;
}
button {
  margin: 0;
}
.xButton {
  margin: auto 10px auto auto;
  /* margin-right: 20px; */
  margin-top: 3px;
  /* background-color: grey; */
  /* border-radius: 10px; */
  height: 2.5vh;
  /* width: 2.5vh; */
  min-height: 30px;
  text-align: center;
  /* border: 1px solid rgba(255, 255, 255, 0.39); */
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.xButton:hover {
  /* background-color: rgb(234, 125, 234); */
}
.messagesWrapper {
  padding: 1vh 1vw 3vh 1vw;
  background-color: white;
  overflow-y: auto;
  height: 30vh;
  font-family: "Nunito Sans", sans-serif;
}

.received-message {
  text-align: left;
  max-width: 70%;
  width: auto;
  /* padding: 1px 0px 1px 5px; */
  /* background-color: red; */
  border-radius: 10px;
  border: 3px solid transparent;
}
.sent-message {
  display: inline-block;
  word-wrap: break-word;
  text-align: right;
  width: 65%;
  padding-left: 35%;
}
.sendingError {
  padding: 10px;
  color: red;
}
.inputWrapper {
  /* min-width: 300px;
  width: 21vw;
  bottom: 0px;
  position: fixed;
  margin-top: auto;
  display: flex; */
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  min-width: 300px;
  width: 25vw;
  /* background-color: grey; */
}

.inputBox {
  width: 80%;
  padding: 5px 8px 5px 8px;
  height: 100%;
  max-height: calc(5vh - 4px);
  resize: none;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.133);
  font-family: "Nunito Sans", sans-serif;
  justify-content: left;
}
.inputBox:focus {
  border: 1px solid rgb(166, 166, 166);
  outline: 0px solid transparent;
}
.sendButton {
  /* background-color: white;
  color: rgb(80, 20, 136);
  border: 1px solid rgb(80, 20, 136);
  margin-right: 5px;
  min-width: 40px;
  width: 4vw;
  padding: 0px;
  float: right; */
  width: 20%;
  height: 100%;
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  /* background-color: rgb(68, 102, 195); */
  /* background-color: rgb(53, 103, 158); */
  border-radius: 5px;
  /* color: rgb(255, 255, 255);  */
  background-color: white;
  color: black;
  border: 1px solid rgb(68, 129, 195);

  cursor: pointer;
}
.sendButton:hover {
  background-color: rgb(53, 102, 154);
  background-color: rgb(68, 129, 195);
 color: white
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,200&display=swap");

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-height: 720px) {
  .messagesWrapper {
    height: 70%;
  }
}
