body {
  justify-content: center;
}
.paymentWrapper {
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position:fixed;
}
.paymentTextWrapper {
  width: 40%;
  top: 30vh;
  left: calc(50% + 40px);
  position: relative;
  color: rgb(13, 50, 89);
}
h1{
  color:rgba(255, 255, 255,0.8)
}
h4 {
  text-align: center;
  text-align: justify;
  letter-spacing: 0.8px;
}


.paymentForm {
  background-color: white;
  position: fixed;
  top: 25vh;
  left: 10%;
  width: 30%;
}
.backToHome {
  background-color: transparent;
  position: fixed;
  top: 23px;
  left: 20px;
  text-decoration: none;
  padding: 8px 14px 8px 11px;
  border: 1px solid transparent;
  border-radius: 1px 15px 15px 1px;
  color: black;
}
.backToHome:hover {
  border-color: black;
  transition: 0.15s ease-in-out;
}

@media screen and (max-width: 800px) {
  .paymentForm {
    background-color: white;
    position: relative;
    top: 10vh;
    left: 5%;

    width: calc(90% - 40px);
    margin: auto;
  }
  .paymentTextWrapper {
    width: calc(90% - 40px);
    top: 15vh;
    left: calc( 5% + 20px );
    position: relative;
    color: rgb(13, 50, 89);
  }
}
